:root {
  --bgColor: hsl(0, 100%, 75%);
  --txtColor: hsl(0, 100%, 5%);
  --btnColor: hsl(0, 100%, 98%);
  --btnFocus: hsl(0, 100%, 95%);
  --fonts: Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  font-family: var(--fonts);
  font-size: 1.75em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
  color: var(--txtColor);
  margin: 0.25em 0;
  user-select: all;
}

#hex {
  text-transform: uppercase;
}

button {
  font-family: var(--fonts);
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1em;
  min-height: 46px;
  background: var(--btnColor);
  color: var(--txtColor);
  border: 0;
  border-radius: 10px;
}

button:active {
  background: var(--btnFocus);
}

button:focus {
  outline: none;
}

span.sm {
  user-select: none;
  font-size: 0.5em;
}